.preview-thumbnail.nav-tabs li {
    margin-right: 2.5%;
    display: inline-block;
}

.preview-thumbnail.nav-tabs {
    display: inline-block;
    white-space: nowrap;
    overflow: auto;
    padding-top: 7px;
    width: 100%;
}

.preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block;
    height: 60px;
}

.preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0;
}

.tab-content {
    overflow: hidden;
}

.tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}

.quantity,
.price {
    text-transform: UPPERCASE;
    font-weight: bold;
}

.rating,
.price
{
    margin-bottom: 15px;
}

@-webkit-keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.breadcrumb {
    margin-top: 15px;
}

.breadcrumb li {
    display: inline-block;
}

.breadcrumb a {
    color: #b5b6bd;
    display: inline-block;
    margin-right: 5px;
    padding-right: 14px;
    position: relative;
}

.breadcrumb a:hover {
    color: #086fcf;
}

.breadcrumb a:after {
    color: #b5b6bd;
    content: ">";
    position: absolute;
    right: 0;
}

.card {
    border: none
}

.product {
    background-color: #eee
}

.brand {
    font-size: 13px
}

.act-price {
    color: #0d6efd;
    font-weight: 700;
    font-size: 35px;
}

.dis-price {
    text-decoration: line-through 0.1em rgb(157 98 117);
    font-weight: 600;
    font-size: 30px;
    color: #5175ab;
}

.about {
    font-size: 14px
}

.cart i {
    margin-right: 10px
}

.stars-outer {
    position: relative;
    display: inline-block;
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.stars-outer::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "\f005 \f005 \f005 \f005 \f005";
    font: var(--fa-font-solid);
    color: #ccc;
}

.stars-inner::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "\f005 \f005 \f005 \f005 \f005";
    font: var(--fa-font-solid);
    color: #f8ce0b;
}

.input-number {
    position: relative;
    width: 160px;
    height: 40px;
    background-color: transparent;
    overflow: hidden;
    border-radius: 20px;
    margin: 2px;
}

.input-number input {
    height: 100%;
    border-radius: 20px;
    text-align: center;
    color: #6C6DFF;
    outline: 0;
    border: 0;
    font-size: 20px;
    width: 60px;
}

.input-number input[type='number'] {
    -moz-appearance: textfield;
}

.input-number input::-webkit-outer-spin-button,
.input-number input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input-number button {
    font-family: "Varela Round", sans-serif;
    font-size: 1.4rem;
    display: inline-block;
    width: 80px;
    height: 100%;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(13 110 253 / 45%);
    transition: background-color .2s ease;
}

.input-number button:nth-of-type(1) {
    padding-right: 50px
}

.input-number button:nth-of-type(2) {
    padding-left: 50px;
}

.input-number button:hover {
    background-color: rgb(13 110 253);
}

.input-group-addon {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; 
    font-size: 17px;
}

input {
    position: relative;
    float: left;
    margin-bottom: 0;
    display: table-cell;
    border: 1px solid #ccc;
    margin: 0;
    float: right;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    display: inline-block;
    background-color: #eee;
    height: 100%;
    width: 100px;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    color: #6C6DFF;
    letter-spacing: -1px;
    outline: 0;
    border: 0;
}

