<nav id="sidebarMenu" class="collapse d-lg-block sidebar sidebar-dark collapse bg-dark overflow-auto">
    <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
            <a *ngFor="let cat of categories" routerLink="/products" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                {{cat}}
            </a>
        </div>
    </div>
</nav>
<!-- Sidebar Sidebar-dark -->

<!-- Navbar -->
<nav id="main-navbar" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top px-5">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/produits">Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="/produits">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Categories
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">TV</a></li>
                        <li><a class="dropdown-item" href="#">Phones</a></li>
                        <li><a class="dropdown-item" href="#">Kitchen</a></li>
                    </ul>
                </li>
            </ul>
            <form class="input-group d-flex w-50 me-auto" role="search">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success  my-2 my-sm-0" type="submit"><i
                        class="fas fa-search"></i></button>
            </form>

            <ul class="navbar-nav mr-auto float-right">
                <li class="nav-item">
                    <a class="nav-link position-relative" routerLinkActive="active" routerLink="/bookmarks">
                        <i class="fa-solid fa-bookmark fs-4 me-3"></i>
                        <!-- <span class="position-absolute top-25 start-50 translate-middle badge rounded-pill bg-danger">{{
                            "" }}</span> -->
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link position-relative" routerLinkActive="active" routerLink="/panier">
                        <i class="fa-solid fa-cart-shopping fs-3 me-3"></i>
                        <!-- <span class="position-absolute top-25 start-50 translate-middle badge rounded-pill bg-danger"
                            *ngIf="!isEmpty()">{{panier}}</span> -->
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/login">
                        <i class="fa-solid fa-right-from-bracket fs-3"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>